
__pycache__/
*.py[cod]
.venv/
venv/
env/
.DS_Store
.ipynb_checkpoints/

data/*
!data/.gitkeep

results/*
!results/figures/
!results/tables/
!results/figures/.gitkeep
!results/tables/.gitkeep

models/*
!models/.gitkeep
