# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# macOS
.DS_Store

# Generated data
data/**

# Generated outputs
results/**
models/**

# Keep folder structure
!data/.gitkeep

!results/
!results/figures/
!results/tables/
!results/figures/.gitkeep
!results/tables/.gitkeep

!models/.gitkeep